<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onCloseSideNav()" *ngIf="!isAuth">
    <mat-icon color="primary">face</mat-icon>
    <span class="side-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onCloseSideNav()" *ngIf="!isAuth">
    <mat-icon color="primary">login</mat-icon>
    <span class="side-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onCloseSideNav()" *ngIf="isAuth">
    <mat-icon color="primary">fitness_center</mat-icon>
    <span class="side-caption">Training</span>
  </a>
  <a mat-list-item (click)="logout()" *ngIf="isAuth">
    <button mat-icon-button>
      <mat-icon color="primary">logout</mat-icon>
      <span class="side-caption">Logout</span>
    </button>
  </a>


</mat-nav-list>
